{% extends 'base.html' %} {% block container %}
<h3>
  A shorter URL is easier to share. Shorten your URL and monitor its clicks
  here!
</h3>
<form action="/" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="url">URL:</label>
    <input
      type="url"
      id="url"
      name="url"
      value=""
      placeholder="https://example.com"
      required
    />
    <input type="submit" value="Shorten" />
  </div>
</form>
{% if short_url %}
<div class="success" role="alert">
  <p>
    Your URL is now shortened to:
    <span id="short-url" class="short-url"
      ><span class="baseUrl"></span>{{short_url}}</span
    >
  </p>
  <button id="copy-btn" class="copy">
    <i class="fa-regular fa-clipboard"></i>
    Copy
  </button>
</div>
{% elif error_message %}
<p class="error error-txt">{{error_message}}</p>
{% endif %} {% endblock %}
