{% extends 'base.html' %} {% block container %}
<h3>
  Checkout how many clicks have your shortened URL gotten since it was created:
</h3>
<form action="/statistics/" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="short_url">Short URL:</label>
    <input
      type="url"
      id="short_url"
      name="short_url"
      value=""
      placeholder="https://example.com/abcdef"
      required
    />
    <input type="submit" value="Check statistics" />
  </div>
</form>

{% if stat and slug %}
<p class="success">
  Your link <span class="baseUrl"></span>{{slug}} has been visited {{stat}}
  times since creation.
</p>
{% elif error_message %}

<p class="error">{{error_message}}</p>

{% endif %} {% endblock %}
